.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.text-center {
  text-align: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.flex-column {
  flex-direction: column;
}
